@import "./essentials/typography";
@import "./essentials/normalize";
@import "./essentials/breakpoints";
@import "./themes/colors/dark";
@import "./themes/colors/default";
@import "./themes/styles";
@import "./essentials/mixins";
@import "./essentials/gridLayout";
@import "./components";
@import "./UI/buttons";

body {
  width: 100%;
  height: 100%;
  position: relative;
}

.background {
  background-color: $colorBG;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#dark .background {
  background-color: $colorBG_dark;
}

.app {
  margin-block: 25px;
  margin-block-end: 125px;
  .card {
    border-radius: 25px;

    transition: box-shadow 175ms ease-in-out;

    &:hover {
      box-shadow: 0 0 10px $colorShadow;
    }

    @include md {
      border-radius: 45px;
    }
    @include lg {
      border-radius: 70px;
    }
  }
}
