$colorBG_dark: hsl(0, 0%, 17%);
$colorWhite_dark: hsl(0, 0%, 23%);
$colorDark_dark: hsl(0, 0%, 98%);
$colorGrey_dark: hsl(0, 0%, 30%);
$colorShadow_dark: rgba(102, 102, 102, 0.15);

$gradientMain_dark: 0deg, #ff9292 0%, #f6cd64 100%;
