$colorBG: hsl(0, 0%, 83%);
$colorWhite: hsl(0, 0%, 100%);
$colorDark: hsl(0, 0%, 22%);
$colorGrey: hsl(0, 0%, 75%);
$colorShadow: rgba(102, 102, 102, 0.15);

$gradientMain: 0deg, #ff9292 0%, #f6cd64 100%;
