body {
  display: grid;
  place-content: center;
}

.app {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 150px);
  grid-auto-rows: 150px;
  grid-template-areas:
    "main main"
    "main main"
    "skills git"
    "skills linked"
    "cv cv"
    "myProjects myProjects"
    "projectStore projectStore"
    "projectStore projectStore"
    "projectStore projectStore"
    "projectStore projectStore"
    "projectQR projectQR"
    "projectQR projectQR"
    "projectQR projectQR"
    "projectQR projectQR"
    "projectRocks projectRocks"
    "projectRocks projectRocks"
    "projectRocks projectRocks"
    "projectRocks projectRocks"
    "contact contact"
    "contact contact"
    "contact contact"
    "aside aside";

  @include md {
    gap: 20px;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 200px;
    grid-template-areas:
      "main main skills"
      "main main skills"
      "cv git linked"
      "cv myProjects myProjects"
      "projectStore projectStore projectStore"
      "projectStore projectStore projectStore"
      "projectQR projectQR projectQR"
      "projectQR projectQR projectQR"
      "projectRocks projectRocks projectRocks"
      "projectRocks projectRocks projectRocks"
      "contact contact aside"
      "contact contact aside";
  }

  @include lg {
    gap: 25px;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 250px;
    grid-template-areas:
      "main main skills skills"
      "main main git cv"
      "linked myProjects myProjects cv"
      "projectStore projectStore projectStore projectStore"
      "projectStore projectStore projectStore projectStore"
      "projectQR projectQR projectQR projectQR"
      "projectQR projectQR projectQR projectQR"
      "projectRocks projectRocks projectRocks projectRocks"
      "projectRocks projectRocks projectRocks projectRocks"
      "contact contact contact aside"
      "contact contact contact aside";
  }

  .main {
    grid-area: main;
  }
  .skills {
    grid-area: skills;
  }
  .linked {
    grid-area: linked;
  }
  .git {
    grid-area: git;
  }
  .myProjects {
    grid-area: myProjects;
  }
  .aside {
    grid-area: aside;
  }
  .projectStore {
    grid-area: projectStore;
  }
  .projectQR {
    grid-area: projectQR;
  }
  .projectRocks {
    grid-area: projectRocks;
  }
  .contact {
    grid-area: contact;
  }
  .cv {
    grid-area: cv;
  }
}
